services:
    web:
        image: playlistdb/php
        build: ./
        volumes:
            - ./html:/var/www/html
        ports:
            - 8080:80
        networks:
            - backend

    wp:
        image: playlistdb/php
        build: ./
        volumes:
            - ./wordpress:/var/www/html
            - ./wp-plugin:/var/www/html/wp-content/plugins/pldb
        ports:
            - 8082:80
        networks:
            - backend

    wpdb:
        image: mysql:8.0
        volumes:
            - ./wpdb:/var/lib/mysql
        environment:
            MYSQL_RANDOM_ROOT_PASSWORD: true
            MYSQL_DATABASE: wpdb
            MYSQL_USER: wpdb
            MYSQL_PASSWORD: changeme
        networks:
            - backend

    db:
        image: mysql:8.0
        ports:
            - "3306:3306"
        volumes:
            - ./initdb.d:/docker-entrypoint-initdb.d
            - ./database:/var/lib/mysql
        environment:
            MYSQL_RANDOM_ROOT_PASSWORD: true
            MYSQL_DATABASE: pldb
            MYSQL_USER: pldb
            MYSQL_PASSWORD: changeme
        command: --default-authentication-plugin=mysql_native_password
        networks:
            - backend

    phpmyadmin:
        image: phpmyadmin:5.2.2
        ports:
            - 8081:80
        environment:
            PMA_HOST: db
        networks:
            - backend
          
networks:
    backend:
